@charset "utf-8";
*{
    margin: 0; padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.header-container{
    background-color: #6B90DC;
    width: 100%; height: 90px;
}

.header-top{
    width: 100%; height: 30px;
}

hr{
    background:#6386CC;
    height:2px;
    border:0;
}

.header-bottom{
    width: 100%; height: 60px;
}

.navbar-nav::before{
    content: '';
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 2px;
    background-color: #a1a7b5;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 1s ease-in-out;
}

.navbar-nav:hover::before{
    transform: scaleX(1);
}

.container-fluid{
    margin-top: 20px;
    height: 100px;

}


#wrapper{
    width:1000px; height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.item>img{
    width: 100%; height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    margin-right: 200px;
    border-radius: 10px;
}

.item{
    margin-right: 1000px;
}

.item:hover{
    opacity: 0.7;
}

#item1,
#item2,
#item3,
#item4{
    width: 300px;
    height: 300px;
    z-index: -1;
    margin: 0 auto;
}

.item1_content,.item2_content,.item3_content,.item4_content{
    background-color: bisque;
    width: 600px; height: 600px;
    margin: 0 auto;
    margin-top: 200px;
    border: 5px solid black;
}

.item4_content{
    margin-bottom: 20px;
}

.item{
    position: relative;
}

.item p{
    text-align: center;
    width: 300px;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 35px;
    text-shadow: 2px 2px 3px #222, 2px 2px 3px #222;
    color: white;
}

.content1,.content2,.content3,.content4{
    color: white;
    font-family: 'ONE-Mobile-POP';
    position: relative;
}

.btn-primary{
    position: absolute;
    bottom: 10px; right: 10px;
}

.content3,.content4{
    color: black;
    font-family: 'ONE-Mobile-POP';

}

.content1{
    background: url(../resources/images/dungeong&fighter.jpg) no-repeat center;
    background-size: cover;
    width: 100%; height: 100%;
    opacity: 0.8;
}

.content2{
    background: url(../resources/images/maple.jpg) no-repeat center;
    background-size: cover;
    width: 100%; height: 100%;
    opacity: 0.8;
}

.content3{
    background: url(../resources/images/darksand.jpg) no-repeat center;
    background-size: cover;
    width: 100%; height: 100%;
    opacity: 0.8;
}
.content4{
    background: url(../resources/images/bubble.jpg) no-repeat center;
    background-size: cover;
    width: 100%; height: 100%;
    opacity: 0.8;
}

.content1>p,.content2>p,.content3>p,.content4>p{
    font-size: 30px;
}

h1{
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.myContent{
    background-color: rgba(128, 128, 128, 0.2);
}







/* 모든 모달에 대한 스타일 */
.modal {
    z-index: 1051;
}

/* 모달 팝업창의 배경 */
.modal-backdrop {
    z-index: 1050;
    opacity: 0.5 !important; /* 배경 투명도를 원하는 수준으로 설정 */
}

/* 모달 내용의 스타일 */
.modal-content {
    z-index: 1052;
    background-color: white; /* 내용 배경을 흰색으로 설정 */
    border: none !important; /* 테두리 제거 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 내용에 그림자 효과 추가 */
}

/* 옵션: .myContent 클래스를 사용하는 모달에 대한 투명도 조절 */
.myContent .modal-content {
    opacity: 1 !important;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background: black;
    margin-bottom: 50px;
}

.footer-left {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: -30px; 
}

.footer-left>li {
    margin-right: 10px;
    text-align: center;
    color: #a1a7b5;
    position: relative;
}

.footer-left>li>a {
    color: #a1a7b5;
    text-decoration: none;
    padding: 0 10px;
    position: relative;
    display: block;
    line-height: 60px;
}

/* li에 hover했을때 밑줄이 생기는 애니메이션 효과를 주기 위한 코드 */
.footer-left>li::before { 
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #a1a7b5;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
}

.footer-left>li:hover::before {
    transform: scaleX(1);
}

.footer-right {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: auto;
}

.footer-right img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.footer-content {
    color: #a1a7b5;
    font-size: 14px;
    margin-top: 10px; 
    align-self: flex-start;
}

.footer-logoimg{
    margin-top: 10px;
}

h1{
    margin-bottom: 20px;
}

/*@media (width < 980px){
    .item-container{
        display: flex !important;
        flex-direction: column !important; /* 세로 정렬을 위해 컨테이너를 세로로 설정 */
       /* align-items: center !important; /* 가운데 정렬 */
    /*}
    .item{
        margin-bottom: 10px !important; /* 예: 아래쪽 간격 설정 *//*
    }
    
}*/